{% macro displayCategories(categories_list) %}
    {% for category in categories_list %}
        <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-8 ">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{category.name|title}}</h5>
                        <a href="#" class="btn btn-primary">Create Pitch</a>
                    </div>
                </div>            
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endfor %}
{% endmacro %}
