{% extends 'base.html'%}

{% block content%}
<div class="row">
    <div class="col-md-1 "></div>
    <div class="col-md-10 ">
        <div class="card text-center">
            <div class="card-body">
                <h2>Pitch: </h2>
                <h3>{{format_pitch|safe}}</h3>
                <h2>Submitted at: </h2>
                <h3>{{pitch.time_posted}}</h3>
                <a href="#" class="btn btn-primary">Add Comment</a>
            </div>
        </div>            
    </div>
    <div class="col-md-1"></div>
</div>{%endblock%}